body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: auto;
    min-width: 308px;
}

.container{
    max-width: 700px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header{
    background-color: rgb(113, 30, 255);
    color: floralwhite;
    text-align: center;
    top: 0px;
    position: sticky;
}

.header .logo{
    top: 6px;
    left: 6px;
    position: absolute;
}

.header .logo :hover{
    filter: brightness(120%);
}

.header .logo2{
    top: 6px;
    right: 6px;
    position: absolute;
}

.header .logo2 :hover{
    filter: brightness(120%);
}

.header h1{
    font-size: 1.2em;
}

.st{
    color: rgb(255, 217, 0);
}

.navbar{
    background-color: #333333;
    color: white;
    cursor: auto;
    width: 100%;
    position: absolute;
}


.navbar ul{
    text-align: center;
    padding: 0;
    margin-top: 0em;
    margin-bottom: 0em;
    list-style: none;
    /*height: 100%;*/
}


.navbar ul li{
    display: inline-block;
    margin-right: -4px;
    align-content: center;
    width: 50%;
    margin-top: 0em;
    padding: 0px;
}

.navbar ul li a{
    color: azure;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 100%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 6px;
    font-size: 1.0em;
}

.navbar a:hover{
    background-color: dimgrey;
    color: yellow;
}

.navbar a:active{
    color: aquamarine;
}

.navbar .current a{
    background-color: dimgray;
    color:aquamarine;
    font-weight: bold;
}


.current a:hover{
    color: aquamarine;
}


.showcase{
    background-image: url(../images/IMG_6004.JPG);
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

.showcase h1{
    color: azure;
    font-size: 2.4em;
    line-height: 1.6em;
    padding-top: 30px;
}

.showcase h2{
    color: azure;
    font-size: 25px;
    line-height: 1.6em;
    padding-top: 0px;
}

#dots-ul li{
    margin-bottom: 0.8em;
}

#index-main{
    float: left;
    width: 60%;
    padding: 0 30px;
    box-sizing: border-box;
}

#index-sidebar{
    float: right;
    width: 40%;
    background-color: #333333;
    color: azure;
    padding: 10px;
    box-sizing: border-box;
}

.images-box{
    text-align: center;
    
}

.fill-blank{
    margin-top: 60px;
}

.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    position: sticky;
    bottom: 0px;
}

/*when the windows size is thinner than 600, the main box and the side bar may no longer floating*/ 
@media(max-width: 600px){
    #index-main{
        width: 100%;
        float: none;
    }
    #index-sidebar{
        width: 100%;
        float: none;
    }
    .images-box .img{
        width: 100%;
        float: none;
    }
    .navbar ul li{
        width: max-content;
    }
    .navbar ul li a{
        padding-left: 8px;
        padding-right: 8px;
    }
}